{% extends 'base.html'  %}
{% block head %}
<meta http-equiv="refresh" content="20;url=http://127.0.0.1:5000/" /> 
{% endblock %}
{% block content %}
    <div class="bg-sist-canc">
		<div class="rec1"></div>
		<div class="head">
				<img src="../static/imagen/pizza-dr.png" class="img-piz">
				<img src="../static/imagen/LOGO-pizzanauta.png" class="img-logpiz">
		</div>
		<div class="bcancel">
			<div class="bcancel1">
				<h1 class="text-canc">¡Pizza Cancelada!</h1>
                {% if validarCodigo %}
                    <h2 class="text-canc1">Codigo:</h2>
                    <h3 class="text-canc1">{{ codigo }}</h3>
                    <button class="button-cancel" onclick="window.location.href = '/';">Cerrar Sesion</button>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock %}
