{% extends 'base.html'  %}
{% block head %}
    <meta http-equiv="refresh" content="5;url=http://127.0.0.1:5000/pizzaTerminada"/>
{% endblock %}
{% block content %}
        <div class="bg-sist-canc">
			<div class="rec1"></div>
			<div class="encabezado">
				<img src="../static/imagen/running-astronaut.gif" class="img-gif">
				<h1 class="title-es">TU PIZZA SE ESTA HORNEANDO...</h1>
				<img src="../static/imagen/LOGO-pizzanauta.png" class="img-logpiz2">
			</div>
            <video class="videoHorno" src="../static/videos/pizza.mp4" autoplay loop></video>
		</div>

{% endblock %}
