<!DOCTYPE html>
<html>
 <head><title>Pizza Nautica</title> 
    <meta charset=utf-8> </head>
    <body>
        <h1>Escoge tu pizza</h1>
        
        <button> <a href="/opcion1/">Peperoni</a></button>
        <button> <a href="/opcion2/">Pastor</a></button>
        <button> <a href="/opcion3/">Alambre</a></button>
        <button> <a href="/opcion4/">Hawaiana</a></button>
        <button> <a href="/opcion5/">Mexicana</a></button>
        <button> <a href="/opcion6/">Carnivora</a></button>
        <button> <a href="/opcion7/">Doble queso</a></button>

    </body>
</html>
