<!DOCTYPE html>
<html>
 <head>
    <title>Pizza Nautica</title> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
</head>
 <script src="../static/js/update.js" type="text/javascript"></script>
    <body onload="update_values();">
	<h1><strong>Resumen de la compra </strong></h1>
    <table>
        <tr>
            <td ><strong>Pizzas</strong></td>
            <td ><strong>Precio (MXN)</strong></td>
            <td ><strong>Cantidad</strong></td>
            <td ><strong>SubTotal (MXN)</strong></td>
        </tr>
        {%for i in range(0, lenPizza)%}
        <tr>
            <td><span>{{nombreDePizza[i]}}</span></td>
            <td><span>{{precioPizza[i]}}</span></td>
            <td><span>{{cantidadPizza[i]}}</span></td>
            <td><span>{{subTotal[i]}}</span></td>
        </tr>
        {%endfor%}
    </table>
    <p id="total" class="totalClass">Total: {{monto}} MXN</p>
    <p class="totalClass">
        <span class="pago">?</span>
    </p>
    <p class="totalClass">
        <span class="falta_pago">?</span>
    </p>
    <button class="compra" onclick="window.location.href = '/';">Cancelar Compra</button>
    </body>
</html>
