{% extends 'base.html'  %}
{% block onload %}update_values(){% endblock %}
{% block content %}
    <script src="../static/js/update.js" type="text/javascript" metodoPago="{{ metodoPago}}"></script> 
    <div class="bg-sist-canc">
			<div class="rec1"></div>
			<div class="head">
				<img src="../static/imagen/pizza-dr.png" class="img-piz">
					<h1 class="title-pg">RESUMEN DE LA COMPRA </h1>
				<img src="../static/imagen/LOGO-pizzanauta.png" class="img-logpiz">
			</div>
    <table class="pizzasCuadro">
        <thead>
            <td ><strong>Pizzas</strong></td>
            <td ><strong>Precio (MXN)</strong></td>
            <td ><strong>Cantidad</strong></td>
            <td ><strong>SubTotal (MXN)</strong></td>
        </thead>
        <tbody>
        {%for i in range(0, lenPizza)%}
            <tr class="fil1">
                <td><span>{{nombreDePizza[i]}}</span></td>
                <td><span>{{precioPizza[i]}}</span></td>
                <td><span>{{cantidadPizza[i]}}</span></td>
                <td><span>{{subTotal[i]}}</span></td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
    <dialog class="bg-sist-canc" id="modalEfectivo">
        {% if metodoPago %}
            {% if codigoCredito %}
                <p class="totalClass">
                    <span class="centrado">Ingresa tu código de crédito</span>
                    <span>Si en caso de que tu importe total sea mayor que el importe del código de crédito, deberás depositar la diferencia únicamente en EFECTIVO.</span>
                </p>
                <p class="totalClass">
                    <label class="codigoLabel" id="codigoLabel">Si cuenta con un Codigo Credito, ingresalo aqui:</label>
                    <input class="codigo" type="text" onclick="tecladoModal()" id="codigo" autocomplete="off"/>        
                </p>
            {% else%}
            <p class="totalClass">
                <span class="centrado">Ya puedes ingresar tu efectivo</span>
            </p>
            {% endif %}
        {% endif %}
        <dialog id="teclado">
            <h1>Ingrese su codigo y luego presione enter para continuar</h1>
            <input id="inputTeclado" class="inputTeclado" placeholder="Escriba su codigo credito" autocomplete="off"/>
            <div class="simple-keyboard"></div>
        </dialog>
        <div>
            <p class="totalClass">
                <span id="total" class="">Total: {{monto}} MXN</span>
            </p>
            {% if metodoPago %}
                <p class="totalClass">
                    <span class="pago">?</span>
                </p>
                <p class="totalClass">
                    <span class="falta_pago">?</span>
                </p>
            {% else %}

        </div>
        <button class="compra">Continuar</button>
        {% endif %}
        <div>
            <button class="compra" onclick="window.location.href = '/main';">Regresar</button>
            <button class="compra" onclick="ModalCanceladoInit()">Cancelar Compra</button>
        </div>

        {% if metodoPago %}
            <span class="totalClass">Importante: No se acepta billetes de $500 ni monedas 10cts, 50cts, 2 pesos y 20 pesos.</span>
        {% else %}
            <span class="totalClass">Importante: Presione Continuar para seguir con el pago en la terminal</span>
        {% endif %}
    </div>
    </dialog>
    <dialog id="modalInicio">
        {% if metodoPago %}
        <h1>IMPORTANTE</h1>
        <h2>No se aceptan Billetes de $500 , monedas 0.10cts,0.50cts, 2 pesos y 20 pesos.</h2>
        <h3>
            Importante: Confirma que tu orden este correcta y que cuentes con el importe total, ya que una vez que se ingresa un billete o moneda no es posible regresar el efectivo,
            En ese caso se le brindara un codigo de credito por el valor depositado, que podra utilizarlo en futuras compras.
        </h3>
        {% else %}
        <h2> Importante: Confirma que tu orden esta correcta antes de pagar</h2>
        {% endif %}
        <button onclick="cerrarModal()" >Aceptar</button>
    </dialog>
    <dialog id="compraCompletada">
        <h2>Compra Exitosa!</h2>
        <h3><span class="cambio"></span></h3>
    </dialog>
    <dialog id="compraCancelada">
        <h2>Esta Seguro de cancelar la compra?</h2>
        <h3>Si cancela la compra se va generar un codigo con el valor depositado</h3>
        <div class="centrado">
            <button onclick="ModalCancelado()" >Aceptar</button>
            <button onclick="cerrarModalCancelado()" >Cancelar</button>
        </div>
    </dialog>
    <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
    <script src="../static/js/teclado.js" type="text/javascript"></script>
{% endblock %}
